@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Raffle D</h1>
    <h2 class="display-4">Prize Winner T</h2>
    <p>@ViewBag.responseCall</p>
</div>

<div class="text-secondary">
    <style>
    body {background-color: coral;}
    </style>
</div>
