@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Raffle Draw</h1>
    <h2 class="display-4">Prize Winner</h2>
    <p>@ViewBag.responseCall</p>
</div>

<div class="text-secondary">
    
    
</div>
